<a href="https://colab.research.google.com/github/sj0054pe/MBTI_Estim/blob/master/src/5A_S5_BERT%E7%94%A8%E3%83%87%E3%83%BC%E3%82%BF%E3%82%BB%E3%83%83%E3%83%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<center>BERT データセットの作成 S5 </center>

###<center>リツイート・@mention・URLの除去・短い文(10単語未満)の削除</center>

#0. 作業環境の準備

##0.1. google driveのマウント

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##0.2. カレントディレクトリへ移動

In [ ]:
%cd /content/drive/MyDrive/研究室/研究_M2/src

/content/drive/MyDrive/研究室/研究_M2/src

##0.3. 現在時刻の取得

In [ ]:
import datetime
import pytz

def pull_Datetime():
  DATETIME_now = datetime.datetime.now(pytz.timezone('Asia/Tokyo'))
  DATETIME_now = DATETIME_now.strftime("%Y-%m-%d")
  #DATETIME_now = DATETIME_now.strftime("%Y/%m/%d %H:%M:%S")
  #print(DATETIME_now)

  return DATETIME_now

print(pull_Datetime())

2021-10-23

##option. データセットの指定

In [ ]:
INPUT_CSV_v5='./Assets/Assets_Output/Tweet_Datasets/v5_forBERT.csv'

#1. データセットのロード

In [ ]:
import pandas as pd
df_v0=pd.read_csv('%s' % INPUT_CSV_v5, engine='python')

# データの確認
print(f'データサイズ： {df_v0.shape}')

df_v0[['text', 'tweet_time', 'MBTI_Type','label_EorI','label_NorS','label_ForT','label_JorP']].head()

データサイズ： (483083, 16)

                                                text  ... label_JorP
0  RT @det_kirigakure: #毎日龍驤\n謹賀新年、明けましておめでとうございま...  ...          J
1  RT @nunnu_zero: 今流行りの壺をうちの子にプレゼントしてみた https://...  ...          J
2  RT @wahiko94: 下着姿の加賀殿を描いたでござる https://t.co/rX2...  ...          J
3  RT @whimgreen: ユニコーンちゃんに膝枕してもらいたい人生だった　#アズールレー...  ...          J
4  RT @whimgreen: スカートの中見せてくれるのかと期待して「すけべ♪」って言われた...  ...          J

[5 rows x 7 columns]

#2. データの加工

##2.1. 必要なデータ（文章とラベル）の抽出

In [ ]:
df_v0.drop(['notes', 'Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1',  'Unnamed: 0.1.1.1'],axis=1, inplace=True)
df_v0.dropna(how='any', axis=0, inplace=True)

df_v0=df_v0
df_v0[['text', 'tweet_time', 'MBTI_Type','label_EorI','label_NorS','label_ForT','label_JorP']].head()

                                                text  ... label_JorP
0  RT @det_kirigakure: #毎日龍驤\n謹賀新年、明けましておめでとうございま...  ...          J
1  RT @nunnu_zero: 今流行りの壺をうちの子にプレゼントしてみた https://...  ...          J
2  RT @wahiko94: 下着姿の加賀殿を描いたでござる https://t.co/rX2...  ...          J
3  RT @whimgreen: ユニコーンちゃんに膝枕してもらいたい人生だった　#アズールレー...  ...          J
4  RT @whimgreen: スカートの中見せてくれるのかと期待して「すけべ♪」って言われた...  ...          J

[5 rows x 7 columns]

##2.2. データからリツイートの投稿を除去

In [ ]:
#dfXXX=df['text'].str.extract(r'RT\ @(.*)', expand=True) 
df = df_v0[~df_v0['text'].str.contains(r'RT\ @(.*)')]
#dfXXX = df[~df['text'].str.startswith('RT ')]
df[['text', 'tweet_time', 'MBTI_Type','label_EorI','label_NorS','label_ForT','label_JorP']].head()

/usr/local/lib/python3.7/dist-packages/pandas/core/strings.py:2001: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                                                  text  ... label_JorP
5                              @ha_ma あけおめなのよ。ことよろなのよ。  ...          J
11       CLIP STUDIO TABMATEがコミケで販売されたそうだけど買った方いるのかな！？  ...          J
100  中小の劇団のチケットって、安すぎたら箱や演者やスタッフさんのギャラが払えない。かと言って高く...  ...          J
104           Vステなら大丈夫だったのになぁ…\nまぁQちゃんの事だからなんとかなるでしょう。  ...          J
105                                 すげー！！耐えた！！ #鉄腕DASH  ...          J

[5 rows x 7 columns]

##2.3. @mention・URLの削除

In [ ]:
import re
import numpy as np

def remove_MENTIONandURL(text):
  list_text=re.split(' |\n', text)
  #print(list_text)
  len_list=len(list_text)
  Nan = np.nan
  count_element=0
  element_mention=None
  element_URL=None
  for idx, element in enumerate(list_text):
    if re.match(r'(^)(@)[^a-zA-Z0-9_]*', element):
      element_mention=element
    if element.startswith('https:'):
      element_URL=element
      
  #print(element_mention, element_URL)
  if element_mention==None:
    pass
  else:
    list_text.remove(element_mention)
  if element_URL==None:
    pass
  else:
    list_text.remove(element_URL)

  Z=' '.join(list_text)
  
  return Z

df['text'] = df['text'].map(remove_MENTIONandURL)
df.dropna(how='any', axis=0, inplace=True)
df['text']

NameError: ignored

In [ ]:
df_v3 = df
#df_v3=df.sample(n=100)
df_v3[['text', 'tweet_time', 'conversation_id','MBTI_Type']].head(5)

                                                  text  ... MBTI_Type
5                                     あけおめなのよ。ことよろなのよ。  ...      INTJ
11       CLIP STUDIO TABMATEがコミケで販売されたそうだけど買った方いるのかな！？  ...      INTJ
100  中小の劇団のチケットって、安すぎたら箱や演者やスタッフさんのギャラが払えない。かと言って高く...  ...      INTJ
104            Vステなら大丈夫だったのになぁ… まぁQちゃんの事だからなんとかなるでしょう。  ...      INTJ
105                                 すげー！！耐えた！！ #鉄腕DASH  ...      INTJ

[5 rows x 4 columns]

In [ ]:
!pip install janome

Collecting janome
  Downloading Janome-0.4.1-py2.py3-none-any.whl (19.7 MB)
     |████████████████████████████████| 19.7 MB 6.3 MB/s
Installing collected packages: janome
Successfully installed janome-0.4.1

In [ ]:
from janome.tokenizer import Tokenizer
import collections
from tqdm.notebook import tqdm

import re
import numpy as np

t = Tokenizer()

def remove_ShortText(text):
    one_tweet = "".join(text) #"\n".join(text)
    # print("----------------------------------------")
    # print(one_tweet)
    # print('↓')

    Nan = np.nan
    if len(list(t.tokenize(one_tweet)))> 9:
        #print("長い : ", one_tweet)
        #pass
        return one_tweet
    else:
        #print("短い : ", one_tweet)
        return None

# remove_ShortText(text)
# print()
#QQQ= df_v3['text'][1:100].map(remove_ShortText)
df_v3['text'] = df_v3['text'][:].map(remove_ShortText)
df_v3.dropna(how='any', axis=0, inplace=True)
df_v3['text']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

5                                          あけおめなのよ。ことよろなのよ。
11            CLIP STUDIO TABMATEがコミケで販売されたそうだけど買った方いるのかな！？
100       中小の劇団のチケットって、安すぎたら箱や演者やスタッフさんのギャラが払えない。かと言って高く...
104                 Vステなら大丈夫だったのになぁ… まぁQちゃんの事だからなんとかなるでしょう。
105                                      すげー！！耐えた！！ #鉄腕DASH
                                ...
483076                   肩と背中が痛いと言ったらうちの子に肩たたきをしてもらった  ほっこり
483078      もう無理なんでそんな元気なんこれから仕事行って第2ラウンドカラオケとかもうどうなってるんその体
483079                        こんな時間から声なんて出ないよあほむすめぇぇぇぇ ｹﾞﾎｯ
483080    コンタクトどこ行った？ →私「まさか捨てた？」 →捨ててたわ  ていうかマンガみたいな会話を...
483081    お薬スープ200、角煮100、お寿司100、 ……仕込みが終わった。これでせめて１日位もってくれ。
Name: text, Length: 242876, dtype: object

In [ ]:
df_v3['text'].head(5)

5                                       あけおめなのよ。ことよろなのよ。
11         CLIP STUDIO TABMATEがコミケで販売されたそうだけど買った方いるのかな！？
100    中小の劇団のチケットって、安すぎたら箱や演者やスタッフさんのギャラが払えない。かと言って高く...
104              Vステなら大丈夫だったのになぁ… まぁQちゃんの事だからなんとかなるでしょう。
105                                   すげー！！耐えた！！ #鉄腕DASH
Name: text, dtype: object

#3. データの保存

##3.1. 手法4までで作成した投稿を更新

In [ ]:
df_all=df_v3
print(f'データサイズ： {df_all.shape}')

FileName=pull_Datetime()
df_all.to_csv('./Assets/Assets_Output/Tweet_Datasets/v6S5_all_%s.csv' % FileName)
print('./Assets/Assets_Output/Tweet_Datasets/v6S5_all_%s.csv' % FileName)

データサイズ： (242876, 11)
./Assets/Assets_Output/Tweet_Datasets/v6S5_all_2021-10-23.csv

##3.2. データセットS5の作成

In [ ]:
import random
 #データの抽出
df_S=df_all.sample(n=10000)

In [ ]:
FileName=pull_Datetime()
df_S.to_csv('./Assets/Assets_Output/Tweet_Datasets/v6S5_forBERT_%s.csv' % FileName)
print('./Assets/Assets_Output/Tweet_Datasets/v6S5_forBERT_%s.csv' % FileName)

./Assets/Assets_Output/Tweet_Datasets/v6S5_forBERT_2021-10-23.csv

##3.3. 記録用に各指標のユーザー数を表示

In [ ]:
def num_Type_Index(element):
  num_Users_Type=df_S.groupby(['%s' % element])
  num_Users_Type.groups
  num_Users_Type.size()

  print(num_Users_Type.size())
  print()

for element in ["label_EorI", "label_NorS", "label_ForT", "label_JorP"] :
  num_Type_Index(element)

label_EorI
E    1569
I    8431
dtype: int64

label_NorS
N    5800
S    4200
dtype: int64

label_ForT
F    6762
T    3238
dtype: int64

label_JorP
J    3438
P    6562
dtype: int64

#Option 最大単語数の計算

In [ ]:
!pip install transformers

!pip install fugashi
!pip install ipadic

In [ ]:
## Tokenizerの準備
from transformers import BertJapaneseTokenizer
tokenizer = BertJapaneseTokenizer.from_pretrained('cl-tohoku/bert-base-japanese-whole-word-masking')

In [ ]:
from tqdm.notebook import tqdm
import numpy as np

def num_max_words(TYPE_INDEX):
  sentences= df_S['text'].values #sentences = df.sentence.values
  labels= df_S['%s' % TYPE_INDEX].values #labels = df.label.values

  # 最大単語数の確認
  max_len = []
  # 1文づつ処理
  len_sentences = len(sentences)
  for sent in tqdm(sentences):
      # Tokenizeで分割
      token_words = tokenizer.tokenize(sent)
      # 文章数を取得してリストへ格納
      max_len.append(len(token_words))
  # 最大の値を確認
  len_max=max(max_len)
  #len_q0, len_q25, len_q50, len_q75, len_q100=np.percentile(max_len,  [0, 25, 50, 75, 100])
  #len_q75=int(len_q75)
  print('最大単語数: ', max(max_len))

for element in ["label_EorI", "label_NorS", "label_ForT", "label_JorP"] :
  num_max_words(element)